:root{

--bg-color:#09090F;

--primary:#8B5CF6;

--secondary:#EC4899;

--glass:rgba(255,255,255,.08);

--glass-border:rgba(255,255,255,.1);

--text-secondary:#94A3B8;

--orange:#FF9D00;

--button-gradient:
linear-gradient(
135deg,
#8B5CF6,
#EC4899);

}